* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}

.container { 
     height: 100vh;
     display: flex;
     justify-content: left;
     /* justify-content: center; */
     align-items: center;
}

.calculator {
    background-color: aliceblue;
    /* background-color: #ecf0f3; */
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 
                      5px 5px 12px rgba(0, 0, 0, 0.16); 
    display: grid;
    grid-template-columns: repeat(4, 68px);                      
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);   
    font-size: 50px;
    text-align: end;
    margin: auto; 
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;          
}

button {
    height: 50px;
    width: 51px;
    background-color: aqua;
    /* background-color: #ecf0f3; */
    box-shadow: -5px -5px 12px #ffffff, 
                    5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 50%;  
    margin: 8px;
    font-size: 16px;  
    /* -webkit-tap-highlight-color: red;
    -webkit-tap-highlight-color: transparent;             */
}

button:hover {
    background-color:#ffffff;
  }

.equal {
    width: 110px;
    border-radius: 40px;
    background-color: yellowgreen;
    /* background-color: #ecf0f3; */
    box-shadow: -5px -5px 12px #ffffff, 
    5px 5px 12px rgba(0,0,0,0.16);
}




body{
	font-family: 'Open Sans',sans-serif;
	background-color: #ffffff, 
}
#container{
	width: 1000px;
	height: 550px;
	/* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg); */
	/* margin: 20px auto; */
    margin-left: 0%;
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	/* background-color: #ffa500; */
}
button:nth-child(12){
	font-size: 20px;
	/* background-color: #f08080; */
}
button:nth-child(16){
	font-size: 20px;
	/* background-color: #7d93e0; */
}
button:nth-child(20){
	font-size: 20px;
	/* background-color: #9477af; */
}